<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post delete</title>
</head>
<body>
    <h1>Delete {{post.title}}</h1>
    <p>Are you sure you want to delete "{{post.title}}"</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
        <button type="submit">Yes, no delete</button>
        <a href="{% url 'posts' %}">Cancel</a>
    </form>
</body>
</html>